@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Nunito Sans", sans-serif;
    background-color: #f2f2f2;
    color: #111517;
}

.dark body {
    background-color: #202c36;
    color: #fff;
}

.skeleton {
    -webkit-animation: skeleton-loading 1s linear infinite alternate;
    animation: skeleton-loading 1s linear infinite alternate;
}

@-webkit-keyframes skeleton-loading {
    0% {
        background-color: #c2cfd6;
    }
    100% {
        background-color: #f0f3f5;
    }
}

@keyframes skeleton-loading {
    0% {
        background-color: #c2cfd6;
    }
    100% {
        background-color: #f0f3f5;
    }
}

@layer components {
    .dropdown-content > p {
        @apply m-0 block cursor-pointer whitespace-nowrap px-5 py-1 text-sm text-gray-700 hover:bg-lightGray hover:text-gray-900 dark:text-white;
    }

    .back-button {
        background-image: url("../public/assets/arrows-left.svg");
        background-repeat: no-repeat;
        background-size: 1.375rem 1.375rem;
        background-position: 1.7em;

        @media (min-width: 768px) {
            background-position: 1.8rem;
        }
    }
}
