@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Nunito Sans", sans-serif;
    background-color: #f2f2f2;
}

@layer components {
    .dropdown-content > p {
        @apply m-0 block cursor-pointer whitespace-nowrap px-5 py-2 text-sm text-gray-700 hover:bg-lightGray hover:text-gray-900;
    }

    .back-button {
        background-image: url("../public/assets/arrows-left.svg");
        background-repeat: no-repeat;
        background-size: 1.375rem 1.375rem;
        background-position: 1.7em;

        @media (min-width: 768px) {
            background-position: 1.8rem;
        }
    }
}
